body,table {
	font-size: small;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	background: #fff;
	font-size: 100%;
	line-height: 1;
}

a {
	font-size: small;
	cursor: pointer;
}

a:link,a:visited,a:hover,a:active {
	text-decoration: none;
}

.gwt-Button {
	height: 28px;
	font-size: 13px;
	font-weight: normal;
	font-family: Caecilia-bold, Helvetica, sans-serif;
	background: #D1D1D1;
	border: 1px solid #C4C4C4;
	border-radius: 3px;
	color: #333333;
}

.gwt-Button:hover {
	background: #4183c4;
	color: #FFFFFF;
}

.gwt-Button:active {
	border: 1px solid #DDDDDD;
}

.gwt-DialogBox {
	background: #F0F0F0;
	border: 1px solid #666;
	font-size: 14px;
}

.gwt-DialogBox .Caption {
	background: #F0F0F0;
	font-weight: bold;
	cursor: default;
	padding: 5px 10px;
	border-bottom: 1px solid #999;
	text-align: left;
	font-size: 18px;
}

.gwt-DialogBox table {
	background: #F0F0F0;
	padding-left: 10px;
	width: 100%;
	height: 100%;
}

.gwt-DialogBox .dialogMiddleCenter,.gwt-DialogBox .dialogMiddleLeft,.gwt-DialogBox .dialogMiddleRight,.gwt-DialogBox .dialogTopCenter,.gwt-DialogBox .dialogTopLeft,.gwt-DialogBox .dialogTopRight,.gwt-DialogBox .dialogBottomCenter,.gwt-DialogBox .dialogBottomLeft,.gwt-DialogBox .dialogBottomRight
	{
	padding: 0px;
	background: #F0F0F0;
}

.gwt-DialogBox .gwt-Label {
	font-size: 16px;
	margin: 15px 10px;
}

.gwt-DialogBox #item {
	text-align: left;
	padding-left: 15px;
	font-size: 14px;
	font-family: Georgia, serif;
	margin: 20px 10px;
	display: inline;
}

.gwt-DialogBox .gwt-Button {
	max-width: 180px;
	margin: 10px auto;
	padding: 5px;
	position: relative;
	display: inline;
	text-align: middle;
	background: #F0F0F0;
	border: 1px solid #D8D8D8;
	color: #606060;
	font-size: 14px;
	font-family: Georgia, serif;
	border-radius: 0px 0px 0px 0px;
}

.gwt-DialogBox .gwt-Button:hover {
	background: #D8D8D8;
	color: #606060;
}

/* GWT Tree */
.gwt-Tree {
	
}

.gwt-Tree .gwt-TreeItem {
	padding: 0;
	cursor: hand;
	cursor: pointer;
	display: block !important;
}

.gwt-Tree .gwt-TreeItem-selected {
	background: #c0c0c0;
}

/* Splitters */
.gwt-SplitLayoutPanel-HDragger,.gwt-SplitLayoutPanel-VDragger {
	background: #F0F0F0;
}

.gwt-SplitLayoutPanel-HDragger {
	cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
	cursor: row-resize;
}

.gwt-DisclosurePanel {
	font-family: Helvetica, Arial, sans-serif;
	color: #555E64;
	background-color: #EAEDEF;
}

.gwt-DisclosurePanel .header {
	border-bottom: 1px solid #CED8DF;
	background-color: #E3E7E9;
	padding-top: 8px;
	padding-left: 10px;
	height: 24px;
	vertical-align: middle;
}

.gwt-DisclosurePanel .content {
	border-left: 0px !important;
}

.gwt-DisclosurePanel-open {
	
}

.gwt-DisclosurePanel-closed {
	
}

.gwt-PopupPanel {
	padding: 2px;
	background: #F0F0F0;
	/* border-left: 1px solid #999 !important;
	border-right: 1px solid #999 !important;
	border-top: 1px solid #999 !important;
	border-bottom: 1px solid #999 !important; */
}

.gwt-PopupPanel .popupContent {
	padding: 5px;
}

/* tab panels css for SharingNoteListView*/
.gwt-TabLayoutPanel {
	height: 100%;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	background: #F0F0F0;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	border-color: #e6e7e8;
	border-style: solid;
	border-width: 3px 2px 2px;
	padding: 6px;
	background: #FFFFFF;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	margin-left: 6px;
	padding: 3px 8px 3px 8px;
	cursor: pointer;
	cursor: hand;
	color: black;
	font-size: 1.2em;
	color: #8bc53d;
	text-align: center;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	cursor: default;
	background: #8bc53d;
	font-size: 1.2em;
	color: #FFFFFF;
}

/* styles for stackLayoutPanel
 * AdminView
 */
.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
	font-size: 14px;
    font-weight: normal;
    padding: 5px 10px;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
	
}

/* CKEditor styles */
span.cke_skin_office2003 {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
	border: 1px solid #D3D3D3;
	padding: 0px;
}

.cke_top {
	border-color: #FAFAF5 #CED8DF #CED8DF #FAFAF5 !important;
	border-style: solid;
	border-width: 1px 1px 2px;
}

.cke_contents {
	background-color: white;
	border-top: 0px solid #696969 !important;
	border-right: 1px solod #696969 !important;
	border-bottom: 0px solid #696969 !important;
	border-left: 0px solid #696969 !important;
}

.cke_bottom {
	border-top: 0px solid #696969 !important;
	border-bottom: 1px solid #696969;
	border-left: 0px solid #696969 !important;
	border-right: 0px solid #696969;
}

span.cke_wrapper cke_ltr,table.cke_editor,td.cke_contents,span.cke_skin_kama,span.cke_wrapper,span.cke_browser_webkit
	{
	height: 100% !important;
}

.cke_toolbar_start,.cke_toolbar_end {
	width: 0px !important;
}

.cke_top {
	border: 0px solid #999 !important;
	background-color: #D6DFF7 !important;
}

.cke_toolgroup,.cke_rcombo {
	background-color: #D6DFF7 !important;
}

.cke_toolbar {
	background-image: none !important;
}