.left {
	position: absolute;
	margin-left: 15%;
}

.right {
	float: right !important;
	display: inline;
}

div.logo {
	float: left !important;
}

div.logo img{
	height: 38px;
	margin: 0px 30px;
}

.header {
	background-color: #006699;
}

.header .nav {
	color: #747474;
	line-height: 16px;
	font-family: helvetica, arial, sans-serif;
	text-align: left;
	display: block;
}

.header .nav .button {
	margin: 5px 0px;
	border: 0px solid #006699;
	background: #006699;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: #D8DFEA;
	font-size: 14px;
	font-family: Georgia, serif;
	vertical-align: middle;
}

.header .nav .button:hover {
	background: #327099;
	color: #D8DFEA;
}

.header .nav .button:active {
	background: #1f4d6b;
}

.header .nav .divider {
	display: inline;
	vertical-align: middle;
	border-left: 1px solid #308b26;
	border-right: 1px solid #7abc72;
}