.left {
	float: left !important;
	margin-left: 165px
}

.right {
	float: right !important;
	display: inline-block;
	display: inline;
}

.header {
	background-color: #006699;
}

.header .nav {
	color: #747474;
	line-height: 18px;
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	text-align: left;
	display: block;
}

.header .nav .button {
	border: 0px solid #006699;
	background: #006699;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: Georgia, serif;
	vertical-align: middle;
}

.header .nav .button:hover {
	background: #327099;
	color: #ffffff;
}

.header .nav .button:active {
	background: #1f4d6b;
}

.header .nav .divider {
	display: inline-block;
	display: inline;
	vertical-align: middle;
	border-left: 1px solid #308b26;
	border-right: 1px solid #7abc72;
}