.adminContainer {
	border-top: 1px solid #999;
}

.adminContainer .leftPanel {
	height: 100%;
	width: 100%;
	background-color: #EAEDEF;
	color: #555E64;
}

.adminContainer .subListPanel {
	border-left: 1px solid #999;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
	color: #555E64;
}

.adminContainer .buttonPanel {
	padding: 4px 10px;
	border-bottom: 1px solid #999;
	background-color: #EAEDEF;
	font-size: 12px;
	width: 100%;
	height: 24px;
}

.adminContainer .button {
	padding: 2px;
	font-size: 12px;
	height: 24px;
	margin-right: 5px;
}

.adminContainer .labelPanel {
	color: #404040;
	height: 24px;
	padding-top: 8px;
	padding-left: 20px;
	border-bottom: 1px solid #999;
	background-color: #EAEDEF;
}

.adminContainer .contentPanel {
	height: 100%;
	width: 100%;
	border-left: 1px solid #999;
}

.adminContainer .contentPanel .tableContent{
	margin-bottom: 50px;
}

.adminContainer .contentPanel .label {
	padding-top: 4px;
}

.adminContainer .contentPanel table {
	width: 100%;
	padding: 5px;
	border-collapse: collapse;
}

.adminContainer .contentPanel .header{
	padding: 5px;
	border-bottom: 1px solid #CED8DF;
	text-align: center;
	background-color: #EAEDEF;
	color: #555E64;
}

.adminContainer .contentPanel td {
	padding: 5px;
	border-bottom: 1px solid #CED8DF;
	text-align: center;
}