body,table {
	font-size: small;
	border-collapse: collapse;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	background: #fff;
	font-size: 100%;
	line-height: 1;
}

a {
	font-size: small;
	cursor: pointer;
}

a:link,a:visited,a:hover,a:active {
	text-decoration: none;
}

/*
 * styles for dropdown list
 */
select {
	width: 150px;
	border-radius: 3px;
	border: 1px solid #B3B3B3;
}

/* select {
	background: url(images/down_arrow_select.jpg) no-repeat right #ddd;
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(images/down_arrow_select.jpg),
		-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: center right;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: inherit;
	margin: 0;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
} */
.gwt-Button {
	height: 28px;
	font-size: 13px;
	font-weight: normal;
	font-family: Caecilia-bold, Helvetica, sans-serif;
	background: #4183c4;
	color: #FFFFFF;
	border: 1px solid #939393;
	border-radius: 3px;
}

.gwt-Button:hover {
	background: #4183dd;
	color: #FFFFFF;
}

.gwt-Button:active {
	border: 1px solid #939393;
}

/* styles for dialog boxes*/
.gwt-DialogBox {
	background: #F0F0F0;
	border: 1px solid #666;
	font-size: 14px;
}

.gwt-DialogBox table {
	background: #F0F0F0;
	padding-left: 10px;
	width: 100%;
	height: 100%;
}

.gwt-DialogBox .dialogTopLeft,.gwt-DialogBox .dialogTopRight,.gwt-DialogBox .dialogTopCenter
	{
	background: #bbb;
	padding: 0px;
	width: 0px;
}

/* .gwt-DialogBox .dialogTopRight {
	background: url("images/cross.png") no-repeat scroll 15px 5px #BBBBBB;
} */

.gwt-DialogBox .Caption {
	background: #bbb;
	curosr: pointer !important;
	font-weight: bold;
	padding: 5px 10px;
	text-align: left;
	font-size: 18px;
	height: 20px;
}

.CloseButton {
	background: #bbb;
	curosr: pointer !important;
	position:relative;
	float: right;
}

.gwt-DialogBox .dialogMiddleCenter,.gwt-DialogBox .dialogMiddleLeft,.gwt-DialogBox .dialogMiddleRight
	{
	padding: 20px !important;
	background: #F0F0F0 !important;
}

.gwt-DialogBox .dialogBottomCenter,.gwt-DialogBox .dialogBottomLeft,.gwt-DialogBox .dialogBottomRight
	{
	padding: 0px;
	background: #F0F0F0;
}

.gwt-DialogBox .gwt-Label {
	font-size: 16px;
	margin: 15px 10px;
}

.gwt-DialogBox #item {
	text-align: left;
	padding-left: 15px;
	font-size: 14px;
	font-family: Georgia, serif;
	margin: 20px 10px;
	display: inline;
}

.gwt-DialogBox .gwt-Button {
	max-width: 180px;
	margin: 10px auto;
	padding: 5px;
	position: relative;
	display: inline;
	text-align: middle;
	background: #F0F0F0;
	border: 1px solid #D8D8D8;
	color: #606060;
	font-size: 14px;
	font-family: Georgia, serif;
	border-radius: 0px 0px 0px 0px;
}

.gwt-DialogBox .gwt-Button:hover {
	background: #D8D8D8;
	color: #606060;
}

/* GWT Popup panel */
.gwt-DecoratedPopupPanel {
	background: none repeat scroll 0 0 #F0F0F0 !important;
	border: 1px solid #999;
}

.gwt-DecoratedPopupPanel .popupTopLeft,.gwt-DecoratedPopupPanel .popupTopCenter,.gwt-DecoratedPopupPanel .popupTopRight
	{
	background: none repeat scroll 0 0 #F0F0F0 !important;
}

.gwt-DecoratedPopupPanel .popupMiddleLeft,.gwt-DecoratedPopupPanel .popupMiddleCenter,.gwt-DecoratedPopupPanel .popupMiddleRight
	{
	background: none repeat scroll 0 0 #F0F0F0 !important;
}

.gwt-DecoratedPopupPanel .popupBottomLeft,.gwt-DecoratedPopupPanel .popupBottomCenter,.gwt-DecoratedPopupPanel .popupBottomRight
	{
	background: none repeat scroll 0 0 #F0F0F0 !important;
}

/* GWT Tree */
.gwt-Tree {
	
}

.gwt-Tree .gwt-TreeItem {
	padding: 0;
	cursor: hand;
	cursor: pointer;
	display: block !important;
}

.gwt-Tree .gwt-TreeItem-selected {
	background: #c0c0c0;
}

/* Splitters */
.gwt-SplitLayoutPanel-HDragger,.gwt-SplitLayoutPanel-VDragger {
	background: #F0F0F0;
}

.gwt-SplitLayoutPanel-HDragger {
	cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
	cursor: row-resize;
}

.gwt-DisclosurePanel {
	font-family: Helvetica, Arial, sans-serif;
	color: #555E64;
	background-color: #EAEDEF;
}

.gwt-DisclosurePanel .header {
	border-bottom: 1px solid #CED8DF;
	background-color: #E3E7E9;
	padding-top: 8px;
	padding-left: 10px;
	height: 24px;
	vertical-align: middle;
}

.gwt-DisclosurePanel .content {
	border-left: 0px !important;
	padding: 0 0 4px 0px;
}

.gwt-DisclosurePanel-open {
	
}

.gwt-DisclosurePanel-closed {
	
}

.gwt-PopupPanel {
	padding: 2px;
	background: #F0F0F0;
	/* border-left: 1px solid #999 !important;
	border-right: 1px solid #999 !important;
	border-top: 1px solid #999 !important;
	border-bottom: 1px solid #999 !important; */
}

.gwt-PopupPanel .popupContent {
	padding: 5px;
}

/* tab panels css for SharingNoteListView*/
.gwt-TabLayoutPanel {
	height: 100%;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	background: #F0F0F0;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	border-color: #e6e7e8;
	border-style: solid;
	border-width: 3px 2px 2px;
	padding: 6px;
	background: #FFFFFF;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	margin-left: 6px;
	padding: 3px 8px 3px 8px;
	cursor: pointer;
	cursor: hand;
	color: black;
	font-size: 1.2em;
	color: #8bc53d;
	text-align: center;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	cursor: default;
	background: #8bc53d;
	font-size: 1.2em;
	color: #FFFFFF;
}

/* styles for stackLayoutPanel
 * AdminView
 */
.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
	font-size: 14px;
	font-weight: normal;
	padding: 5px 10px;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
	
}

.gwt-ListBox option {
	font-size: 12px;
}

/* CKEditor styles */
/* span.cke_skin_office2003 {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
	border: 0px solid #D3D3D3;
	padding: 0px;
	height: 385px;
}

.cke_top {
	border-color: #FAFAF5 #CED8DF #CED8DF #FAFAF5 !important;
	border-style: solid;
	border-width: 1px 1px 2px;
}

.cke_contents {
	background-color: white;
	border-top: 0px solid #696969 !important;
	border-right: 1px solod #696969 !important;
	border-bottom: 0px solid #696969 !important;
	border-left: 0px solid #696969 !important;
}

.cke_bottom {
	border-top: 0px solid #696969 !important;
	border-bottom: 1px solid #696969;
	border-left: 0px solid #696969 !important;
	border-right: 0px solid #696969;
}

span.cke_wrapper cke_ltr,table.cke_editor,td.cke_contents,span.cke_skin_kama,span.cke_wrapper,span.cke_browser_webkit
	{
	height: 100% !important;
}

.cke_toolbar_start,.cke_toolbar_end {
	width: 0px !important;
}

.cke_top {
	border: 0px solid #999 !important;
	background-color: #D6DFF7 !important;
}

.cke_toolgroup,.cke_rcombo {
	background-color: #D6DFF7 !important;
}

.cke_toolbar {
	background-image: none !important;
} */