.container {
	border: 1px solid #999;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.namePanel {
	padding: 10px 20px;
	border-bottom: 1px solid #CED8DF;
}

.namePanel .label {
	margin-bottom: 10px;
}

.namePanel .textbox {
	margin-bottom: 5px;
}

.leftPanel {
	width: 100%;
	height: 100%;
	border: 0px solid grey;
	border-top: 1px solid #999;
}

.centerPanel {
	width: 100%;
	height: 100%;
	border: 0px solid grey;
	border-left: 1px solid #999;
	border-top: 1px solid #999;
}

.searchContainer {
	width: 100%;
	border: 0px solid #EAEDEF;
	border-bottom: 1px solid #999;
	background-color: #EAEDEF;
	position: relative;
}

.buttonPanel {
	width: 100%;
	border: 0px solid grey;
	padding-top: 10px;
	padding-left: 10px;
}

.buttonPanel .button {
	padding: 0px;
	font-size: 11px;
	margin-left: 5px;
	margin-right: 5px;
}

.groupList {
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	border: 0px solid grey;
	background-color: #EAEDEF;
}

.groupList .firstBlock {
	position: relative;
	width: 100%;
	float: left;
	border-right: 1px solid #999;
}

.groupList .secondBlock {
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	margin-top: 15px;
	padding-top: 15px;
	border-right: 1px solid #999;
}

.groupList .label {
	font-size: 16px;
	width: 100%;
	padding-left: 20%;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	display: block;
	text-align: left;
	background-color: #EAEDEF;
}

.groupList .textBox {
	display: block;
	position: relative;
	text-align: left;
	font-size: 12px;
	font-weight: small;
	color: #A2A2A2;
	width: 120px;
	height: 15px;
	margin-top: 10px;
	margin-left: 40px;
	border-radius: 5px;
}

.groupList div.rowDiv {
	display: block;
	position: relative;
	background-color: #EAEDEF;
	border: 0px solid #D8D8D8;
	color: #606060;
	cursor: pointer;
	font-size: 14px;
	font-family: Georgia, serif;
}

.groupList div.rowDiv:hover {
	background: #D8D8D8;
	color: #606060;
}

.groupList div.rowDiv:active {
	border: 0 solid #ccc !important;
	background: #D8D8D8;
}

.groupList div.rowDiv img {
	display: inline;
	margin-left: 45px;
	margin-right: 5px;
}

.groupList div.rowDiv .button {
	margin: 0px auto;
	position: relative;
	text-align: left;
	padding-left: 0px;
	background-color: #EAEDEF;
	border: 0px solid #D8D8D8;
	color: #606060;
	font-size: 14px;
	font-family: Georgia, serif;
	border-radius: 0px 0px 0px 0px;
}

.groupList div.rowDiv .button:hover {
	background: #D8D8D8;
	color: #606060;
}

.groupList div.rowDiv .button:active {
	border: 0 solid #ccc !important;
	background: #c0c0c0;
}