.container {
	border-top: 1px solid #999;
}

.leftPanel {
	height: 100%;
	width: 100%;
	background-color: #EAEDEF;
	color: #555E64;
}

.subListPanel {
	border-left: 1px solid #999;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
	color: #555E64;
}

.labelPanel {
	color: #404040;
	height: 24px;
	padding-top: 8px;
	padding-left: 20px;
	border-bottom: 1px solid #CED8DF;
}

.contentPanel {
	height: 100%;
	width: 100%;
	border-left: 1px solid #999;
}

.contentPanel .label{
	padding-top: 4px;
}

.contentPanel table{
	padding: 5px;
}

.contentPanel tr{
	padding: 5px;
	border-bottom: 1px solid #999;
}