.container {
	border-top: 1px solid #999;
}

.leftPanel {
	height: 100%;
	width: 100%;
	background-color: #EAEDEF;
	color: #555E64;
}

.subListPanel {
	border-left: 1px solid #999;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
	color: #555E64;
}

.buttonPanel {
	padding: 4px 10px;
	border-bottom: 1px solid #999;
	background-color: #EAEDEF;
	font-size: 12px;
	width: 100%;
}

.button {
	padding: 2px;
	font-size: 12px;
	height: 24px;
	margin-right: 5px;
}

.labelPanel {
	color: #404040;
	height: 24px;
	padding-top: 8px;
	padding-left: 20px;
	border-bottom: 1px solid #999;
	background-color: #EAEDEF;
}

.contentPanel {
	height: 100%;
	width: 100%;
	border-left: 1px solid #999;
}

.contentPanel .label {
	padding-top: 4px;
}

.contentPanel table {
	width: 100%;
	padding: 5px;
	border-collapse: collapse;
}

.contentPanel .header{
	padding: 5px;
	border-bottom: 1px solid #CED8DF;
	text-align: center;
	background-color: #EAEDEF;
	color: #555E64;
}

.contentPanel td {
	padding: 5px;
	border-bottom: 1px solid #CED8DF;
	text-align: center;
}